<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ww.module_study">

    <application>
        <activity android:name=".StudyActivity" />
        <activity android:name=".lifecycle.LifecycleActivity" />
        <activity android:name=".lifecycle.LocationServiceActivity" />
        <activity android:name=".lifecycle.ProcessLifecycleOwnerActivity" />
        <activity android:name=".viewmodel.ViewModeActivity" />
        <activity android:name=".livedata.LiveData1Activity" />
        <activity android:name=".livedata.LiveData2Activity" />
        <activity android:name=".databinding.DataBinding1Activity" />
        <activity android:name=".databinding.DataBinding2Activity" />
        <activity android:name=".databinding.DataBinding3Activity" />
        <activity android:name=".databinding.DataBinding4Activity" />
        <activity android:name=".databinding.DataBinding5Activity" />

        <service android:name=".lifecycle.service.LocationService" />
    </application>
</manifest>