<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ww.module_study">

    <application>
        <activity android:name=".StudyActivity" />
        <activity android:name=".lifecycle.LifecycleActivity" />
    </application>
</manifest>